* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}


.p-ext{
    color: yellow;
}

h1{
    font-size: 50px;
}

#subline{
    text-transform: uppercase;
}

body > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

.list-bg{
    background-color: #8FBC8F;
}

li[value]{
    border: solid 1px;
}

.letter-space li{
    letter-spacing: 10px;
}

ul ~ p {
    text-align: center;
}